<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.mongo.mongod</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/local/bin/mongod</string>
		<string>--dbpath</string>
		<string>/opt/local/var/db/mongodb</string>
		<string>--logpath</string>
		<string>/opt/local/var/log/mongodb.log</string>
	</array>
</dict>
</plist>